<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--input_centros--></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <span align="left" class="forma_mensaje">Introduïu les dades corresponents als camps requerits.<br />
                                Els camps amb (<span class="forma_oblig">*</span>) són obligatoris.<br><br></span>
                            <p><!--mensaje--></p>
                            <form name="fm_clave" method="post" action="index.php?m=centros&accion=registrarcentros" onSubmit="return validarFormaRegistro(this)"> 
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_centro_nombre--></label>
                                            <input type="text" id="<!--input_centro_nombre-->" name="ces_nombre" class="form-control" placeholder="<!--input_centro_nombre-->" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_centro_direccion--></label>
                                            <input type="text" id="<!--input_centro_direccion-->" name="ces_direccion" class="form-control" placeholder="<!--input_centro_direccion-->" required>
                                            <!--select_centro_genero-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="first-name-column"><!--input_centro_servicio_territorial--></label>
                                                <!--select_centro_servicio_territorial-->
                                            </div>
                                        </div>
                                    <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="first-name-column"><!--input_centro_territorio--></label>
                                                <!--select_centro_territorio-->
                                                <div id="selectTerritorio"></div>
                                            </div>
                                        </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_centro_codigo_barrio--></label>
                                            <input type="text" id="<!--input_centro_codigo_barrio-->" name="ces_bar" class="form-control" placeholder="<!--input_centro_codigo_barrio-->" required>
                                            <div id="selectBarrios"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_centro_tipo_centro--></label>
                                           <!--select_centro_tipo_centro-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_centro_director--></label>
                                            <!--select_centro_director-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_centro_num_suceptibles--></label>
                                            <input type="number" id="<!--input_centro_num_suceptibles-->" name="ces_num_gitanos" class="form-control" placeholder="<!--input_centro_num_suceptibles_ad-->" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="ces_maxcomplejidad" type="checkbox" value="1" id="<!--input_centro_max_complejidad-->">
                                            <label for="first-name-column"><!--input_centro_max_complejidad--></label>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Registrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>