<div class="col-12" id="table-striped">
    <div class="card">
        <div class="main-content container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3><!--label_msg_inicio--></h3>
                        <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class='breadcrumb-header'>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><!--input_centros_listar--></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <p><!--mensaje--></p>
        </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
<script>
    setTimeout('ExportExcel()',500);
    setTimeout(function () {
        window.location.replace("index.php?m=centros&accion=listarcentros");
        }, 700);

    function ExportExcel(type, fn, dl) {
        var fileName = $('.page-title h3').text();
        //table id
        var elt = document.getElementById('listadoCentros');
        var wb = XLSX.utils.table_to_book(elt, {sheet:"Llistat"});
        return dl ?
        XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
        XLSX.writeFile(wb, fn || (fileName + "." + (type || 'xlsx')));
    }
</script>

