<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--label_msg_inicio--></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <p><!--mensaje--></p>
                            <form name="formcambiarcontrasena" method="post" action="index.php?m=usuarios&accion=act_cambiar_contrasena" id="formcambiarcontrasena"> 
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_actual--></label>
                                            <input type="password" id="<!--input_actual-->" name="usu_clave_actual" class="form-control"  required placeholder="<!--input_actual-->">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_nueva--></label>
                                            <input type="password" id="<!--input_nueva-->" name="usu_clave_nueva" class="form-control" required placeholder="<!--input_nueva-->">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_confirma_nueva--></label>
                                            <input type="password" id="<!--input_confirma_nueva-->" name="usu_confirma_clave_nueva" required class="form-control" placeholder="<!--input_confirma_nueva-->">
                                        </div>
                                    </div>
                                    <input type="hidden" name="usu_id" value="<!--usu_id-->">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>