<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--label_msg_inicio--></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <p><!--mensaje--></p>
                            <form name="formregistrarusuarios" method="post" action="index.php?m=usuarios&accion=editarUsuarios" id="formregistrarusuarios"> 
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_nombre--></label>
                                            <input type="text" id="<!--input_nombre-->" name="usu_nombre" value="<!--usu_val_nombre-->" class="form-control" placeholder="<!--input_nombre-->">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_usuario--></label>
                                            <input type="text" id="<!--input_usuario-->" name="usu_login" disabled value="<!--usu_val_usuario-->" class="form-control" placeholder="<!--input_usuario-->">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_apellido--></label>
                                            <input type="text" id="<!--input_apellido-->" name="usu_apellido" value="<!--usu_val_apellido-->" class="form-control" placeholder="<!--input_apellido-->">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_correo--></label>
                                            <input type="text" id="<!--input_correo-->" name="usu_correo"  value="<!--usu_val_correo-->" class="form-control" placeholder="<!--input_correo-->">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="<!--input_perfil-->"><!--input_perfil--></label>
                                            <!--valor_perfil-->
                                        </div>
                                        <!--centros-->
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group territorios">
                                            <!--territorios-->
                                        </div>
                                    </div>

                                    <input type="hidden" name="usu_id" value="<!--usu_id-->">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>