<div class="container">
	<div class="row">
		<div class="col-md-5 col-sm-12 mx-auto">
			<div class="card pt-4">
				<div class="card-body">
					<div class="text-center mb-5">
						<img src="<!--imagenes-->/Pere-Closa-long-logo.png" height="48" class='mb-4'>
						<h3><!--label_msg_inicio--></h3>
						<p><!--msg_descripcion--></p>
					</div>
					<!--mensaje-->
					<form name="fm_formularioAutenticar" method="post" action="index.php?m=Usuarios&accion=autenticar_usuario">
						<div class="form-group position-relative has-icon-left">
							<label for="usuario"><!--label_usuario--></label>
							<div class="position-relative">				
								<input type="text" class="form-control" id="usuario" name="usuario" placeholder="" required>
								<div class="form-control-icon">
									<i data-feather="user"></i>
								</div>
							</div>
						</div>
						<div class="form-group position-relative has-icon-left">
							<div class="clearfix">
								<label for="contrasena"><!--label_contrasena--></label>
								<a href="<!--link_olvido_contrasena-->" class='float-right'><small><!--texto_olvido_contrasena--></small></a>
							</div>
							<div class="position-relative">
								<input type="password" class="form-control" name="contrasena"  id='contrasena' placeholder="" required>
								<div class="form-control-icon">
									<i data-feather="lock"></i>
								</div>
							</div>
						</div>
						<div class="clearfix">
							<button class="btn btn-primary btn-lg float-right" id="autenticar" type="submit" value="Submit" role="button"><!--boton_procesar--></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>