<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--label_msg_inicio--></li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <!--mensaje-->
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <form name="formregistrarusuarios" id="formregistrarusuarios" class="form" action="index.php?m=usuarios&accion=guardar_usuario" method="POST">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="<!--input_nombre-->"><!--input_nombre--></label>
                                        <input type="text" id="<!--input_nombre-->" class="form-control" value="<!--value_nombre-->" name="usu_nombre" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="<!--input_apellido-->"><!--input_apellido--></label>
                                        <input type="text" id="<!--input_apellido-->" class="form-control" value="<!--value_apellido-->" name="usu_apellido" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="<!--input_correo-->"><!--input_correo--></label>
                                        <input type="email" id="<!--input_correo-->" class="form-control" value="<!--value_correo-->" name="usu_correo" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="<!--input_usuario-->"><!--input_usuario--></label>
                                        <input type="text" id="<!--input_usuario-->" class="form-control" value="<!--value_usuario-->" name="usu_login" required>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="<!--input_perfil-->"><!--input_perfil--></label>
                                        <select class="form-select" id="<!--input_perfil-->" name="usu_per_id" required>
                                            <option selected>Escollir...</option>
                                            <option value="1">Administrador</option> 
                                            <option value="2">Promotor</option>
                                            <option value="3">Director</option>
                                            <option value="4">Coordinador</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group centros-escolares" style="display: none;">
                                        <label for="centros-escolares">Centros Escolares</label>
                                        <select class="choices form-select multiple-remove" name="centros_escolares[]" multiple id="centros_escolares">
                                            <option value="">Escollir...</option>
                                            <!--select_centros-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group territorios" style="display: none;">
                                        <label for="territorios">Territorios</label>
                                        <select class="choices form-select multiple-remove" name="territorios[]" multiple id="territorios">
                                            <option value="">Escollir...</option>
                                            <!--select_territorios-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button class="btn btn-primary float-right">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Basic Inputs end -->
</div>

