
<div class="loginColumns animated fadeInDown">
<div class="row">
        <div class="col-md-6">
             <img src="<!--imagenes-->/hotels_quality.jpg" style="width:70%; margin-bottom:20px;" />
             
             <p style="text-align:justify;"><!--label_msg_inicio--></p>
        </div>
        <div class="col-md-6" style="margin-top:4%;">
         <!--mensaje-->
        <form class="m-t" name="formlogin" ng-submit="" role="form" action="index.php?m=usuarios&accion=autenticar_usuario" method="post">
            <div class="form-group">
                <input type="text" ng-model="usu_login" name="usu_login" class="form-control" placeholder="<!--label_usuario-->" required>
              <!--  <span ng-show="formñogin.usu_login.$error.required">Name is required.</span>-->
            </div>
            <div class="form-group">
                <input type="password"  ng-model="usu_clave" name="usu_clave" class="form-control" placeholder="<!--label_contrasenha-->" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b"><!--boton_login--></button>

            <a href="index.php?m=usuarios&accion=forma_olvido_clave"><small><!--label_olvido_contrasenha--></small></a>
          
        </form>
       
        <div style="text-align:center; margin-top:25px;"><a href='index.php?idioma=1'><img src='<!--imagenes-->/es.gif' border=0  style="width:23px;"/></a>
                 <a href='index.php?idioma=2'><img src='<!--imagenes-->/en.gif' border=0 
                  style="width:23px;"/></a>
            <a href='index.php?idioma=3'><img src='<!--imagenes-->/bandera_francia.jpg' border=0  style="width:23px;" /></a>
            <a href='index.php?idioma=4'><img src='<!--imagenes-->/bandera_alemania.jpg' border=0
             style="width:23px;"   /></a>
            <a href='index.php?idioma=7'><img src='<!--imagenes-->/bandera_portugal.jpg' border=0
             style="width:23px;" /></a>
        </div>
        </div>
</div>
</div>