<div id="auth">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12 mx-auto">
				<div class="card pt-4">
					<div class="card-body">
						<div class="text-center mb-5">
							<img src="Includes/images/favicon.svg" height="48" class='mb-4'>
							<h3>Introduïu la vostra nova contrasenya</h3>
						</div>
						<form method="post" action="index.php?m=usuarios&accion=restablecer_contrasena">
							<div class="form-group position-relative has-icon-left">
								<div class="clearfix">
									<label for="contrasena">Contrasenya</label>
								</div>
								<div class="position-relative">
									<input type="password" class="form-control" name="contrasena" id="contrasena" required>
									<div class="form-control-icon">
										<i data-feather="lock"></i>
									</div>
								</div>
								<div class="position-relative">
									<div id="seguridadContrasena"></div>
								</div>
								<div class="clearfix">
									<label for="repetirContrasena">Repetir contrasenya</label>
								</div>
								<div class="position-relative">
									<input type="password" class="form-control" name="repetirContrasena" id="repetirContrasena" required>
									<div class="form-control-icon">
										<i data-feather="lock"></i>
									</div>
								</div>
								<input type="hidden" class="form-control" name="correo" id="correo" value="<!--correo-->">
								<input type="hidden" class="form-control" name="token" id="token" value="<!--token-->">

							</div>
							<div class="clearfix">
								<button class="btn btn-primary">Presentar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>