<div class="container" id="cotizacion">
	<div class="row">

		<div class="col-md-12">
			<div class="row cabecera-seccion">
				<div class="col-md-12 logo">
					<img src="<!--imagenes-->/logo-autopacifico.png" />
					<h1 class="titulo ocultar-imprimir"><!--label_msg_inicio--></h1>
				</div>
				<div class="col-md-12 ocultar-imprimir">
					<p><!--msg_descripcion--></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4"><!--label_nombre--></div>
				<div class="col-sm-8"><!--nombre_cliente--></div>

				<div class="col-sm-4"><!--label_placa--></div>
				<div class="col-sm-8"><!--placa--></div>

				<div class="col-sm-4"><!--label_linea--></div>
				<div class="col-sm-8"><!--linea--></div>

				<div class="col-sm-4"><!--label_anho--></div>
				<div class="col-sm-8"><!--anho--></div>

				<div class="col-sm-4"><!--label_kilometraje--></div>
				<div class="col-sm-8"><!--kilometraje--></div>
			</div>

			<div class="row mt-5">
				<div class="col-12">
					<h2 class="text-center">Mantenimientos</h2>
					<p class="text-center mt-4 mb-5 ocultar-imprimir">Indique al cliente que DEBE HACER sus mantenimientos BASICOS E INDISPENSABLES que correspondan según el Km, de no hacerlos puede perder la GARANTIA de su vehículo.</p>
					<ul class="nav nav-tabs ocultar-imprimir text-center" id="tabMantenimientos" role="tablist">
						<li class="nav-item">
						  <a class="nav-link active" id="basico-tab" data-toggle="tab" role="tab" aria-controls="basico" aria-selected="true">Básico</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" id="indispensable-tab" data-toggle="tab" role="tab" aria-controls="indispensable" aria-selected="false">Indispensable</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" id="desgaste-tab" data-toggle="tab" role="tab" aria-controls="desgaste" aria-selected="false">Desgaste</a>
						</li>
					  </ul>
					  <div class="tab-content" >
						<div class="tab-pane fade show active" id="basico" role="tabpanel" aria-labelledby="basico-tab">
							<div class="row mt-4 ">
								<div class="col-12">
									<h2 class="text-center"><!--titulo_mantenimiento_basico--></h2>
								</div>
							</div>
							<div class="contenedor-tabla" id="itemsMantenimiento">
								<table class="table table-striped contenedor-precio" style="width: 95%;	margin: 0 auto;">
									<thead>
										<tr>
											<th></th>
											<th>Descripción</th>
											<th>Valor UNT</th>
											<th>Cant</th>
											<th>IVA</th>
											<th>Valor + IVA</th>
										</tr>
									</thead>
									<tbody>
										<!--mantenimiento_basico-->
									</tbody>
									<tfoot>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>Subtotal:</th>
											<th data-subtotal="0">$0</th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>Descuento:</th>
											<th>
												<div class="input-group">
													<input type="number" class="form-control descuento" placeholder="0" aria-label="0" aria-describedby="descuentoBasico" min="0" max="100">
													<div class="input-group-append">
														<span class="input-group-text" id="descuentoBasico">%</span>
													</div>
												</div>
											</th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>IVA:</th>
											<th data-iva="0">$0</th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>Total:</th>
											<th data-total_mantenimiento="0">$0</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="indispensable" role="tabpanel" aria-labelledby="indispensable-tab">
							<div class="row mt-5 mt-4 ">
								<div class="col-12">
									<h2 class="text-center"><!--titulo_mantenimiento_indispensable--></h2>
								</div>
							</div>
							<div class="contenedor-tabla" id="itemsMantenimientoIndispensable">
								<table class="table table-striped contenedor-precio" style="width: 95%;	margin: 0 auto;">
									<thead>
										<tr>
											<th></th>
											<th>Descripción</th>
											<th>Valor UNT</th>
											<th>Cant</th>
											<th>IVA</th>
											<th>Valor + IVA</th>
										</tr>
									</thead>
									<tbody>
										<!--mantenimiento_indispensable-->
									</tbody>
									<tfoot>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>Subtotal:</th>
											<th data-subtotal="0">$0</th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>Descuento:</th>
											<th>
												<div class="input-group">
													<input type="number" class="form-control descuento" placeholder="0" aria-label="0" aria-describedby="descuentoIndispensable" min="0" max="100">
													<div class="input-group-append">
														<span class="input-group-text" id="descuentoIndispensable">%</span>
													</div>
												</div>
											</th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>IVA:</th>
											<th data-iva="0">$0</th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>Total:</th>
											<th data-total_mantenimiento="0">$0</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="desgaste" role="tabpanel" aria-labelledby="desgaste-tab">
							<div class="row mt-5 mt-4 ">
								<div class="col-12">
									<h2 class="text-center"><!--titulo_mantenimiento_desgaste--></h2>
								</div>
							</div>
							<div class="contenedor-tabla" id="itemsMantenimientoDesgaste">
								<table class="table table-striped contenedor-precio" style="width: 95%;	margin: 0 auto;">
									<thead>
										<tr>
											<th></th>
											<th>Descripción</th>
											<th>Valor UNT</th>
											<th>Cant</th>
											<th>IVA</th>
											<th>Valor + IVA</th>
										</tr>
									</thead>
									<tbody>
										<!--mantenimiento_desgaste-->
									</tbody>
									<tfoot>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>Subtotal:</th>
											<th data-subtotal="0">$0</th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>Descuento:</th>
											<th>
												<div class="input-group">
													<input type="number" class="form-control descuento" placeholder="0" aria-label="0" aria-describedby="descuentoDesgaste"  min="0" max="100">
													<div class="input-group-append">
														<span class="input-group-text" id="descuentoDesgaste">%</span>
													</div>
												</div>
											</th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>IVA:</th>
											<th data-iva="0">$0</th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th>Total:</th>
											<th data-total_mantenimiento="0">$0</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<table id="tablaTotalGlobal" class="table tabla-total-global">
						<tbody>
							<tr>
								<td>Total:</td>
								<td data-total="0"></td>
							</tr>
							<tr>
								<td>Descuento:</td>
								<td>
									<div class="input-group">
										<input type="number" id="descuentoGlobal" class="form-control descuento" placeholder="0" aria-label="0" aria-describedby="descuentoDesgaste"  min="0" max="100" readonly>
										<div class="input-group-append">
											<span class="input-group-text" id="descuentoDesgaste">%</span>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>IVA</td>
								<td></td>
							</tr>
							<tr>
								<td>Total + IVA:</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-4 text-center">
					<button class="btn btn-primary btn-lg ocultar-imprimir" id="anterior" style="float:left; width: 80%;">Anterior</button>
				</div>
				<div class="col-4 text-center boton-central">
					<form method="post" id="fm_imprimir_pdf" name="fm_imprimir_pdf" action="index.php?m=Usuarios&accion=generarPdf">
						<button class="btn btn-primary btn-lg ocultar-imprimir" id="imprimir" type="submit">Generar Cotización</button>
						<input type="hidden" id="pdf" name="pdf">
					</form>
				</div>
				<div class="col-4 text-center">
					<button class="btn btn-primary btn-lg ocultar-imprimir" id="siguiente" style="float:right; width: 80%;">Siguiente</button>
				</div>
			</div>

			<div class="row mt-5 ocultar-imprimir">
				<div class="offset-6 col-6 offset-md-4 col-md-4 text-center">
					<a class="btn btn-primary btn-lg" id="nuevaCotizacion" href="index.php">Nueva Cotización</a>
				</div>
			</div>
		</div>

	</div>
</div>


<style>
.cabecera-seccion h1{text-align:center;}
.txt-mensajes{max-height:200px;min-height:150x;}
.opened{
display:block;
}
.closed{
display:none;
}
</style>

<!-- <script src="xepOnline.jqPlugin.js"></script> -->
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script type="text/javascript">

	$("form").submit(function(e){
		// Let's find the input to check
		var $input = $(this).find("#pdf");

		let $html = $("#cotizacion").clone();
		
		if ($('table input:checked').length === 0) {
			alert('No puede realizar una cotización sin seleccionar al menos un item.');
			e.preventDefault();
			return false;
		}

		$html.find('table .titulo-item input[type=checkbox]:not(:checked)').parents('tr').next().remove();
		
		$html.find('table input[type=checkbox]:not(:checked)').parents('tr').remove();

		
		$html.find('.ocultar-imprimir').remove();

		$html.find('table tr.collapse').addClass('show');
			
		
		$html.find('table input:checked').parents('.tab-content div[role=tabpanel]').removeAttr('class');

		$html.find('table input[type=checkbox]').remove();

		$html.find('.tab-content .tab-pane').each( function(index, element) {
			if ($(element).find('table').length === 0) {
				$(element).addClass('ocultar-imprimir');
			}
		});

		$html.find('table input[type=number]').each( function(index, element) {
			if (parseInt($(element).val()) === 0) {
				$(element).parents('tr').remove();
				return;
			}

			$(element).attr('readonly', $(element).val());
			$(element).attr('placeholder', $(element).val());
		});

		let $form = $html.find('.boton-central form');

		$form.attr('action', 'index.php');

		$form.append('<button class="btn btn-primary btn-lg" id="nuevaCotizacion" type="submit">Nueva Cotización</button>');
		
		$pagina = $html.wrap('<p/>').parent().html();

		$input.val($pagina);
	});

	// $('#nuevaCotizacion').click(function(e) {
	// 	e.preventDefault;
	// 	location.reload(true);
	// });

</script>