<!--html_pdf-->

<style>
	
</style>
<!-- <script src="xepOnline.jqPlugin.js"></script> -->
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script>
	$('#nuevaCotizacion').attr('style', 'display:none');
	setTimeout(function(){
		let options = {
			margin:       [5, 5, 5, 5], //top, left, buttom, right
			filename:     'cotizacion.pdf',
			image:        { type: 'jpeg', quality: 1 },
			html2canvas:  { scale: 2, dpi: 300, letterRendering: true},
			jsPDF:        { unit: 'mm', format: 'LETTER', orientation: 'portrait' },
		}

		var element = document.getElementById('page-home');
		console.log(element);
		html2pdf().from(element).set(options).to('pdf').get('pdf').save();
	},1000);

	setTimeout(function(){
		$('#nuevaCotizacion').attr('style', 'display:block');
	},3000);

</script>