<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12 mx-auto">
            <div class="card py-4">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <img src="Includes/images/Pere-Closa-long-logo.png" height="48" class='mb-4'>
                        <h3>Oblit de contrasenya?</h3>
                        <p>Per recuperar la contrasenya escrigui el seu nom d'usuari i correu electrònic i una contrasenya nova li sera enviada.</p>
                    </div>
                    <form name="fm_clave" method="post" action="index.php?m=usuarios&accion=olvido_clave" onSubmit="return validarFormaClave(this)">
                        <div class="form-group">
                            <label for="usu_login" class="forma_label">Usuari:</label>
							<input class="form-control" type="text" name="usu_login" value="<!--usu_login-->" required>
						</div>
						<div class="form-group">
							<label for="usu_correo" class="forma_label">Correo electr&oacute;nico:</label>
							<input class="form-control" type="email" name="usu_correo" value="<!--usu_correo-->" required>
                        </div>

                        <div class="clearfix">
                            <button class="btn btn-primary float-right">Enviar nova contrasenya</button>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">

	document.fm_clave.usu_login.focus();
	
	</script><!---FIN_CONTENIDO_FORMULARIO-->