<center>

    <table border="0" cellpadding="0" cellspacing="0" width="600">
    
    <tr>
    
        <td class="forma_titulo">Registro</td>
    
    </tr>
    
    <tr>
    
        <td><!--mensaje--></td>
    
    </tr>
    
    <tr>
    
        <td align="left" class="forma_mensaje">Ingrese los datos correspondientes en los campos requeridos.<br />
          Los campos con (<span class="forma_oblig">*</span>) son obligatorios.<br>
          <br></td>
    
    </tr>
    
    <tr>
    
        <td align="left"><!---CONTENIDO_FORMULARIO-->
    
    <form name="fm_clave" method="post" action="index.php?m=usuarios&accion=registrar_usuarios" onSubmit="return validarFormaRegistro(this)"> 
    
    <table border="0" cellpadding="2" cellspacing="2">
    
        <tr>
    
            <td align="left"  class="forma_label"><span class="forma_oblig">*</span> Nombre o raz&oacute;n social.</td>
    
            <td ><input size="50" type="text" name="reg_nombre" value="<!--reg_nombre-->"></td>
    
        </tr>	
        
        <tr>
    
            <td align="left"  class="forma_label"><span class="forma_oblig">*</span> Nit.</td>
    
            <td ><input size="50" type="text" name="reg_nit" value="<!--reg_nit-->"></td>
    
        </tr>		
        <tr>
    
            <td align="left"  class="forma_label"><span class="forma_oblig">*</span> Nombre o persona a cargo.</td>
    
            <td ><input  size="50" type="text" name="reg_pers_a_cargo" value="<!--reg_pers_a_cargo-->"></td>
    
        </tr>			
    
        <tr>
    
            <td align="left" class="forma_label"><span class="forma_oblig">*</span> Correo electr&oacute;nico:</td>
    
            <td><input size="50" type="texto" name="reg_email" value="<!--reg_email-->"></td>
    
        </tr>
    
        <tr>
    
            <td></td>
    
            <td align="left" ><input class="boton" type="submit" value="Registrarse"></td>
    
        </tr>
    
        <tr>
    
            <td></td>
    
            <td align="left" ><a href="<!--path_web-->index.php?m=usuarios">Acceder al sistema</a></td>
    
        </tr>
    
    </table>
    
    </form>
    
    <script language="javascript" type="text/javascript">
    
    document.fm_clave.acc_user.focus();
    
    </script><!---FIN_CONTENIDO_FORMULARIO--></td>
    
        </tr>
    
    </table>
    
    </center>