<div class="row">
	<div class="col-md-12">
<center>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
	<td align="center"><!--mensaje--></td>
</tr>
<tr>
	<td><form name="formaSoporte" enctype="multipart/form-data"  method="post" action="index.php?m=usuarios&accion=soporte" onSubmit="return validarFormaSoporte(this)">
	<table border="0" cellpadding="2" cellspacing="0" class="forma_label">
		<tr>
			<td width="180"><!--soporte_usuario-->:</td>
			<td><!--sop_nombre--><input type="hidden" value="<!--sop_nombre-->" name="sop_nombre" ></td>
		</tr>
		<tr>
			<td><!--soporte_fecha_solicitud-->:</td>
			<td><!--sop_fecha_label--><input type="hidden"  value="<!--sop_fecha-->" name="sop_fecha"></td>
		</tr>
		<tr>
			<td>*&nbsp;<!--soporte_responder_correo-->:</td>
			<td><input type="text" size="40" value="<!--sop_correo-->" name="sop_correo" ></td>
		</tr>
		<tr>
			<td><!--soporte_archivo-->:</td>
			<td><input type="file" size="33" value="<!--sop_archivo-->" name="sop_archivo" ></td>
		</tr>
        <tr>
			<td>*&nbsp;<!--soporte_comentario-->:</td>
		</tr>
        <tr>
			<td colspan="2"><textarea name="sop_comentario" cols="60" rows="10"><!--sop_comentario--></textarea></td>
		</tr>
		<!-- MAOH - 25 Sep 2012 - Incidencia 1761
			 Se quita el captcha del formulario -->
		<!--tr>
			<td><!-label_captcha->:</td>
			<td><table cellspacing="0" cellpadding="0">
                    <tr>
                        <td><img src="<!-path_web->/Includes/captcha.php" width="60" height="20" align="absmiddle" /></td>
                        <td width="2"></td>
                        <td><input class="campo_captcha" type="text" size="5" maxlength="5" name="inf_captcha" value=""></td>
                    </tr>
                </table></td>
		</tr-->
		<tr>
			<td colspan="2" align="center"><br><input type="submit" value="<!--btn_enviar-->" class="btn btn-primary"/>
				<input type="hidden" name="usu_id" value="<!--usu_id-->"></td>
        </tr>
	</table>
	</form></td>
</tr>

</table>
<script language="javascript">
document.formaSoporte.sop_comentario.focus();
</script>
</center>
</div>
</div>
