<form action="" name="fmBuscarUsuario" id="fmBuscarUsuario" onsubmit="validarBusquedaGestionUsuarios(); if($('#usu_busqueda').val().length === 0) { return false; }">
<table cellpadding="0" cellspacing="0" border="0" width="100%" align='left'>
    <tr>
        <td colspan='2' class="titulo_cadena_auxiliar_centrado"></td>
    </tr>
    <tr>
        <td colspan='2'>
            <br><!--lista_hoteles-->
        </td>
    </tr>
    <tr>
        <td colspan='2'>&nbsp;</td>
    </tr>
    <tr>
        <td align="left">
            <table width="100%">
                <tr>
                    <td>
                        <div class="alert alert-danger" style="display:none; padding:6px;"><!--error_campo_vacio--></div>
                    </td>
                </tr>
                <tr>
                    <td>                       
                        <label for="usu_busqueda"><!--texto_buscar-->:</label>
                        <br>
                            <input class="form-control" style='max-width:350px;display:inline-block;' type="text" id="usu_busqueda" name="usu_busqueda" value="<!--texto_busqueda-->" size="40" />
                            
                             <input type="submit" class="btn btn-primary" value="<!--buscar-->" />
                           
                        <input type="hidden" name="m" value="usuarios"/>
                        <input type="hidden" name="accion" value="gestion"/>
                        <input type="hidden" name="limit" value="<!--limite-consulta-->"/>
                        <input type="hidden" name="offset" value="<!--offset-consulta-->"/>

                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td align="right">
            <!--boton_nuevo_usuario-->
        </td>
    </tr>
</table>