<footer>
  <div class="footer clearfix mb-0 text-muted">
      <div class="float-left">
          <p>2021 &copy; Fundació Pere Closa</p>
      </div>
      <div class="float-right">
          <p>Creat amb <span class='text-danger'><i data-feather="heart"></i></span> per <a href="https://www.querytek.com/">Querytek Colombia</a></p>
      </div>
  </div>
</footer>