<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--label_msg_inicio--></li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <!--mensaje-->
                        <div class="card-body">
                            <form name="formeditarintervenciones" id="formeditarintervenciones" class="form" action="index.php?m=visitas&accion=actEditarIntervencion&msg=INT-2" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--fecha--></label>
                                            <p><!--fecha_actual--></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--mot_int--></label>
                                            <!--mot_int_select-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--tipo_int--></label>
                                            <!--tipo_int_select-->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group tab_id">
                                            <!--tab_int_select-->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group tab_altres_obser">
                                            <!--altres_mot_int_select-->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group tin_altres_obser">
                                            <!--altres_tin_int_select-->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--label_estudiante--></label>
                                            <!--estudiantes-->
                                        </div>
                                    </div>
                                    <input type="hidden" id="<!--int_id-->" value="<!--int_id-->" name="int_id">
                                    <input type="hidden" id="<!--fecha_actual-->" value="<!--fecha_actual-->" name="int_fecha">
                                    <div class="col-12 d-flex justify-content-end">
                                        <!--boton_enviar-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic multiple Column Form section end -->

    <!-- Basic Inputs end -->
</div>