<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--label_msg_inicio--></li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form name="formvisitas" id="formvisitas" class="form" action="index.php?m=visitas&accion=actCerrarVisitas" method="POST">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--fecha--></label>
                                            <input type="date" disabled value="<!--fecha_num-->" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--hora_inicio--></label>
                                            <input type="time" disabled value="<!--hora_ini-->"  class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--centro_escolar--></label>
                                            <input type="text" disabled value="<!--centro-->"  class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--hora_fin--></label>
                                            <input type="time" id="<!--hora_fin-->" class="form-control" value="<!--hora_actual-->" name="vis_hora_fin">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--observaciones--></label>
                                            <textarea rows='10' cols='40' required id="<!--observaciones-->" placeholder="<!--observaciones-->"  class="form-control"
                                            name="vis_observaciones"></textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" id="<!--id-->" value="<!--id-->" name="vis_id">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic multiple Column Form section end -->

    <!-- Basic Inputs end -->
</div>

<script>
    if ("geolocation" in navigator){ //check geolocation available 
        //try to get user current location using getCurrentPosition() method
        navigator.geolocation.getCurrentPosition(function(position){ 
                //console.log("Found your location nLat : "+position.coords.latitude+" nLang :"+ position.coords.longitude);
                $('#formvisitas').append('<input type="hidden" id="latitude" value="'+position.coords.latitude+'" name="latitude">');
                $('#formvisitas').append('<input type="hidden" id="longitude" value="'+position.coords.longitude+'" name="longitude">');
            });
    }else{
        console.log("Browser doesn't support geolocation!");
    }
</script>