<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--input_horas_adicionales--></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <span align="left" class="forma_mensaje">Introduïu les dades corresponents als camps requerits.<br />
                                Els camps amb (<span class="forma_oblig">*</span>) són obligatoris.<br><br></span>
                            <p><!--mensaje--></p>
                            <form name="fm_clave" method="post" action="index.php?m=visitas&accion=registrarHorasAdicionales" onSubmit="return validarFormaRegistro(this)"> 
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_visita_h_a_fecha--></label>
                                            <input type="date" value="" name="hap_fecha" class="form-control" placeholder="<!--fecha_ad-->" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column" for="timepicker"><!--input_visita_h_a_horas--></label>
                                            <!--<input type="time" id="<!--input_visita_h_a_horas--><!--" name="hap_horas_trabajadas" class="form-control time-picker" placeholder="<!--input_visita_h_a_horas--><!--" >-->
                                            <input class="form-control" type="text" id="timepicker" name="hap_horas_trabajadas" placeholder="<!--input_visita_h_a_horas-->" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_visita_h_a_observaciones--></label>
                                            <textarea class="form-control" name="hap_observaciones" id="<!--input_visita_h_a_observaciones-->" rows="3" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <input type="hidden" id="<!--prom_id-->" value="<!--prom_id-->" name="hap_usu_id_promotor">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Registrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                        $('.time-picker').timepicker({ showInputs: false, showMeridian: false });
                    });
                </script>
            </div>
        </div>
    </section>
</div>