<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--label_msg_inicio--></li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <!--mensaje-->
                            <form name="formintervenciones" id="formintervenciones" class="form" action="index.php?m=visitas&accion=actVisualizarIntervenciones" method="POST">
                                <div class="row">
                                    <p><!--fecha--></p>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="date" required id="fecha_inicio" class="form-control" name="fecha_inicio">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="date" required id="fecha_fin" class="form-control" name="fecha_fin">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--promotor--></label>
                                            <!--promotores_int_select-->
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <!--boton-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic multiple Column Form section end -->

    <!-- Basic Inputs end -->
</div>