<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--label_msg_inicio--></li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <section class="list-group-navigation">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><!--label_msg_inicio--> #<!--num_int_id--> a <!--fecha_intervencion--></h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p><span style="font-weight: bold;">Centre Educatiu:</span> <!--nombre_centro_escolar--></p>
                                    <p><span style="font-weight: bold;">Motiu Intervenció:</span> <!--motivo_intervencion--> <br>  
                                        <!--nombre_tab-->
                                        <!--int_otro_motivo_intervencion--></p>
                                    <p><span style="font-weight: bold;">Tipus d'Intervencion:</span> <!--tin_nombre--> <br>
                                        <!--int_otro_tipo_intervencion--></p>
                                    <p><span style="font-weight: bold;">Any Lectiu:</span> <!--pes_ano_lectivo--></p>
                                    <p><span style="font-weight: bold;">Període:</span> <!--pes_periodo--> </p>
                                    <p><span style="font-weight: bold;">Data Inici:</span> <!--pes_fecha_inicio--></p>
                                    <p><span style="font-weight: bold;">Data Fi:</span> <!--pes_fecha_fin--></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <h4 class="card-title">Informació d'Estudiants a la Intervenció</h4>
                    </div>
                </div>
            </div>
            <!--datos_estudiante-->
        </div>
    </section>
    <!--botones-->
</div>