<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--input_alumnos--></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <span align="left" class="forma_mensaje">Introduïu les dades corresponents als camps requerits.<br />
                                Els camps amb (<span class="forma_oblig">*</span>) són obligatoris.<br><br></span>
                            <p><!--mensaje--></p>
                            <form name="fm_clave" method="post" action="index.php?m=alumnos&accion=registrarAlumnos" onSubmit="return validarFormaRegistro(this)"> 
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_alumn_idalu--></label>
                                            <input type="text" id="<!--input_alumn_idalu-->" name="est_idalu" class="form-control" placeholder="<!--input_alumn_idalu-->">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_alumn_nombre--></label>
                                            <input type="text" id="<!--input_alumn_nombre-->" name="est_nombre" class="form-control" placeholder="<!--input_alumn_nombre-->" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_alumn_genero--></label>
                                            <select class="form-select" name="est_genero" aria-label="Default select example" required>
                                                <option value="M">Home</option>
                                                <option value="F">Dona</option>
                                            </select>
                                            <!--select_alumn_genero-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_alumn_codigo_familia--></label>
                                            <!--select_alumn_familias-->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_alumn_centro_educativo--></label>
                                            <!--select_alumn_centro_educativo-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_alumn_etapa_educativa--></label>
                                           <!--select_alumn_etapa_educativa-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_alumn_curso_etapa_educativa--></label>
                                            <div id="selectCurso"></div>
                                            <!--select_alumn_curso_etapa_educativa-->
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_alumn_referent--></label>
                                            <textarea class="form-control" name="est_referente_servicio_social" id="<!--input_alumn_referent-->" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Registrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>