<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--input_anos_lectivos--></li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form name="formperiodesacademics" id="formperiodesacademics" class="form" action="index.php?m=periodosescolares&accion=editarPeriodosEscolares" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_anos_lectivos--></label>
                                            <input type="text" id="<!--input_anos_lectivos-->" class="form-control" disabled value="<!--pes_val_anos_lectivos-->"
                                                name="anos_lectivos">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_fecha_inicio--></label>
                                            <input type="date" id="<!--input_fecha_inicio-->" class="form-control" value="<!--pes_val_fecha_inicio-->"
                                                name="fecha_inicio">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_fecha_fin--></label>
                                            <input type="date" id="<!--input_fecha_fin-->" class="form-control" value="<!--pes_val_fecha_fin-->"
                                                name="fecha_fin">
                                        </div>
                                    </div>
                                    <input type="hidden" id="pes_id" name="pes_id" value="<!--pes_val_id-->">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic multiple Column Form section end -->

    <!-- Basic Inputs end -->
</div>