<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--input_reporte--></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <span align="left" class="forma_mensaje">Introduïu les dades corresponents als camps requerits.<br />
                                Els camps amb (<span class="forma_oblig">*</span>) són obligatoris.<br><br></span>
                            <p><!--mensaje--></p>
                            <form name="fm_clave" method="post" action="index.php?m=reportecentro&accion=editarreporte" onSubmit="return validarFormaRegistro(this)"> 
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_repc_centro_educativo--></label>
                                            <!--select_repc_centro_educativo-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_repc_periodo_escolar--></label>
                                            <!--select_repc_periodo_escolar-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_repc_graduados_eso--></label>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_graduados_eso_ninos-->" value="<!--rce_repc_graduados_eso_ninos-->" name="rce_graduados_eso_ninos" class="form-control" placeholder="<!--input_repc_graduados_eso_ninos-->" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_graduados_eso_ninas-->" value="<!--rce_repc_graduados_eso_ninas-->" name="rce_graduados_eso_ninas" class="form-control" placeholder="<!--input_repc_graduados_eso_ninas-->" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_repc_haran_bachillerato--></label>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_haran_bachillerato_ninos-->" value="<!--rce_repc_haran_bachillerato_ninos-->" name="rce_haran_bachillerato_ninos" class="form-control" placeholder="<!--input_repc_haran_bachillerato_ninos-->" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_haran_bachillerato_ninas-->" value="<!--rce_repc_haran_bachillerato_ninas-->" name="rce_haran_bachillerato_ninas" class="form-control" placeholder="<!--input_repc_haran_bachillerato_ninas-->" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_repc_haran_cfgm--></label>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_haran_cfgm_ninos-->" value="<!--rce_repc_haran_cfgm_ninos-->" name="rce_haran_cfgm_ninos" class="form-control" placeholder="<!--input_repc_haran_cfgm_ninos-->" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_haran_cfgm_ninas-->" value="<!--rce_repc_haran_cfgm_ninas-->" name="rce_haran_cfgm_ninas" class="form-control" placeholder="<!--input_repc_haran_cfgm_ninas-->" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_repc_haran_pfi--></label>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_haran_pfi_ninos-->" value="<!--rce_repc_haran_pfi_ninos-->" name="rce_haran_pfi_ninos" class="form-control" placeholder="<!--input_repc_haran_pfi_ninos-->" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_haran_pfi_ninas-->" value="<!--rce_repc_haran_pfi_ninas-->" name="rce_haran_pfi_ninas" class="form-control" placeholder="<!--input_repc_haran_pfi_ninas-->" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_repc_graduados_2n_bachillerato--></label>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_graduados_2n_bachillerato_ninos-->" value="<!--rce_repc_graduados_2n_bachillerato_ninos-->" name="rce_graduados_2n_bachillerato_ninos" class="form-control" placeholder="<!--input_repc_graduados_2n_bachillerato_ninos-->" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_graduados_2n_bachillerato_ninas-->" value="<!--rce_repc_graduados_2n_bachillerato_ninas-->" name="rce_graduados_2n_bachillerato_ninas" class="form-control" placeholder="<!--input_repc_graduados_2n_bachillerato_ninas-->" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_repc_cnt_universidad--></label>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_cnt_universidad_ninos-->" value="<!--rce_repc_cnt_universidad_ninos-->" name="rce_ingresen_universidad_ninos" class="form-control" placeholder="<!--input_repc_cnt_universidad_ninos-->" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="number" id="<!--input_repc_cnt_universidad_ninas-->" value="<!--rce_repc_cnt_universidad_ninas-->" name="rce_ingresen_universidad_ninas" class="form-control" placeholder="<!--input_repc_cnt_universidad_ninas-->" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_repc_ob_estudios--></label>
                                            <textarea class="form-control" name="rce_ob_estudios" id="<!--input_repc_ob_estudios-->" rows="3" required><!--rce_observ_estudios--></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <input type="hidden" name="rce_id" value="<!--rce_reporte_id-->">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>