<div class="col-12" id="table-striped">
        <div class="card">
            <div class="main-content container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3><!--label_msg_inicio--></h3>
                            <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><!--input_reporte_listar--></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <p><!--mensaje--></p>
            </div>