<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--input_familias--></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <span align="left" class="forma_mensaje">Introduïu les dades corresponents als camps requerits.<br />
                                Els camps amb (<span class="forma_oblig">*</span>) són obligatoris.<br><br></span>
                            <p><!--mensaje--></p>
                            <form name="fm_clave" method="post" action="index.php?m=familias&accion=registrarfamilias" onSubmit="return validarFormaRegistro(this)"> 
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_fam_nombre_padre--></label>
                                            <input type="text" id="<!--input_fam_nombre_padre-->" name="fam_nombre_padre" class="form-control" placeholder="<!--input_fam_nombre_padre-->" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_fam_nombre_madre--></label>
                                            <input type="text" id="<!--input_fam_nombre_madre-->" name="fam_nombre_madre" class="form-control" placeholder="<!--input_fam_nombre_madre-->" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_fam_numerosa--></label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="fam_numerosa" value="1" id="rad_fam_numerosa" required>
                                                <label class="form-check-label" for="rad_fam_numerosa">Sí</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="fam_numerosa" value="0" id="rad_fam_numerosa">
                                                <label class="form-check-label" for="rad_fam_numerosa">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_fam_monoparental--></label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="fam_monoparental" value="1" id="rad_fam_monoparental" required>
                                                <label class="form-check-label" for="rad_fam_monoparental">Sí</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="fam_monoparental" value="0" id="rad_fam_monoparental">
                                                <label class="form-check-label" for="rad_fam_monoparental">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_fam_observaciones--></label>
                                            <textarea class="form-control" name="fam_observaciones" id="<!--input_fam_observaciones-->" placeholder="Si tenen seguiment SBAS i nom de la referent" rows="3" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Registrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>