<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--input_informe_centro--></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="buttons text-right">
            <!--botones-->
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <span align="left" class="forma_mensaje">Introduïu les dades corresponents als camps requerits.<br />
                                Els camps amb (<span class="forma_oblig">*</span>) són obligatoris.<br><br></span>
                            <p><!--mensaje--></p>
                            <form name="fm_clave" method="post" action="index.php?m=basereportes&accion=resultadoInformeMotivoIntenvencion_a" onSubmit="return validarFormaRegistro(this)"> 
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_select_servicio_territorial--></label>
                                            <!--select_servicio_territorial-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_select_territorio--></label>
                                            <div id="selectTerritorio2"><!--select_territorio--></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_select_centro_escolar--></label>
                                            <div id="selectCentroTer"><!--select_centro_escolar--></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column"><!--input_select_ano_lectivo--></label>
                                            <!--select_ano_lectivo-->
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Consultar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="imprimir_motivos">
                        <div class="row info-reportes">
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <!--servicio_territorial-->
                                        <!--territorio-->
                                        <!--curso_escolar-->
                                        <!--centro_escolar-->
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--table_results_informe_centre-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>