<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--input_informe_centro--></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div id="imprimir_tipos">
                        <div class="row info-reportes">
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <!--curso_escolar-->
                                        <!--centro_escolar-->
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--table_results_informe_centre-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
<script>
    setTimeout('ExportExcel()',500);
    setTimeout(function () {
        window.location.replace("index.php?m=basereportes&accion=tipointervencionP&msg=R-1");
        }, 700);

    function ExportExcel(type, fn, dl) {
        var fileName = $('.page-title h3').text();
        //table id
        var elt = document.getElementById('imprimir_tipos');
        var wb = XLSX.utils.table_to_book(elt, {sheet:"Llistat"});
        return dl ?
        XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
        XLSX.writeFile(wb, fn || (fileName + "." + (type || 'xlsx')));
    }
    
</script>