<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><!--label_msg_inicio--></h3>
                <p class="text-subtitle text-muted"><!--msg_descripcion--></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Escriptori</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><!--label_msg_inicio--></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="buttons text-right">
            <!--botones-->
        </div>
    </div>
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <span align="left" class="forma_mensaje">Introduiu les dades corresponents als camps requerits.<br />
                                Els camps amb (<span class="forma_oblig">*</span>) son obligatoris.<br><br></span>
                            <!--mensaje-->
                            <form name="fm_ver_seguimiento_estudiante" id='fm_ver_seguimiento_estudiante' method="post" action="index.php?m=reportes&accion=buscar_estudiantes"> 
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <!--select_servicio_territorial-->
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="form-group territorio">
                                            <!--select_territorio-->
                                        </div>
                                    </div>

                                    <div class="col-md-8 col-12">
                                        <div class="form-group promotor">
                                            <!--select_promotor-->
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="form-group centro-escolar">
                                            <!--select_centros_escolares-->
                                            <!--select_centros_escolares_busqueda-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group estudiantes">
                                            <!--select_estudiantes-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="estudiantes">Data Inici:</label>
                                            <!--fecha_inicio-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="estudiantes">Data Fi:</label>
                                            <!--fecha_fin-->
                                        </div>
                                    </div>
                                    <input type="hidden" id="usuario" value="<!--usuario-->">
                                    <input type="hidden" id="tipo_usuario" value="<!--tipo_usuario-->">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Consultar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="imprimir_ultima_visita">
                        <div class="row info-reportes">
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <!--servicio_territorial-->
                                        <!--territorio-->
                                        <!--promotor-->
                                        <!--centro_escolar-->
                                        <!--estudiantes-->
                                        <!--fecha_visita-->
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--table_results_informe_centre-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>